* {
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates, sans-serif;
    color: #ffffff;
}

body {
    background: #252525 !important;
}

header {
    background: #414141;
    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        text-transform: uppercase;


        &_logo {
            font-size: 26px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            min-width: 155px;
            font-family: Montserrat Subrayada, sans-serif;
            &:hover {
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                color: #32B9A1 !important;

                & i {
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                    color: #32B9A1;

                }
            }
        }

        &_list {
            margin-left: auto;
            & ul {
                & .dropdown {
                    display: none;
                }
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin: 0;

                & .dropdown {
                    display: none;
                }

                & li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin: 0 5px;

                    & a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 20px;

                        &:hover {
                            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                            color: #32B9A1;
                            & i {
                                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                                color: #32B9A1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.account-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.navbar {
    margin-top: 2%;
    min-width: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    height: 680px;
    max-height: 800px;
    position: static;

    &-link {
        font-size: 20px;
        width: 150px;
        margin: 10px 10px 10px  10px;



        & a {
            display: block;
            margin: 0 0 10px 10px;
            text-decoration: none;
            color: #ffffff;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

            &:hover {
                color: #32B9A1;
            }
        }

        &:last-child {
            margin: auto 0 0 0;
        }

        &__exit {
            box-sizing: border-box;
            display: block;
            text-decoration: none;
            color: #ffffff;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
            margin: auto;
            &:hover {
                color: #32B9A1;

                & i {
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                    color: #32B9A1;
                }
            }
        }
    }

    & hr {
        width: 150px;
        height: 3px;
        background: #32B9A1;
        margin: auto 0 20px 0;
    }
}

@media screen and (min-width: 1024px){
    .board {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 90%;
        overflow-x: auto;
    }
}
@media screen and (max-width: 1023px){
    .board {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

.board {
    &-column {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: fit-content;
        overflow-y: auto;
        background: #2F3133;
        margin: 5px 5px 10px 5px;
        border-radius: 10px;
        min-width: 350px;
        width: 350px;
        padding: 10px;


        &_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 20px;
            margin: 5px 5px 10px 5px;

            & p {
                margin: 0;
            }

            & a {
                text-decoration: none;
                padding: 5px;

                &:hover {
                    color: #32B9A1;
                    & i {
                        color: #32B9A1;
                    }
                }
            }
        }

        &_task {
            background: #414141;
            border-radius: 10px;
            padding: 10px;
            margin: 5px 5px 10px 5px;
            width: -webkit-fill-available;

            .task-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                & a {
                    text-decoration: none;
                    padding: 5px;
                    font-weight: bold;
                    color: #00927d;
                    & i {
                        color: #00927d;
                    }

                    &:hover {
                        color: #32B9A1;
                        & i {
                            color: #32B9A1;
                        }
                    }
                }

            }

            .task-description {
                text-align: justify;
                & p {
                    font-size: 14px;
                }
            }

            .task-image {
                height: 150px;
                width: auto;
                background: #6574cd;
                & a {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: inherit;
                    width: inherit;
                    & img {
                        height: inherit;
                    }
                }
            }

            .task-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & a {
                    display: block;
                    text-decoration: none;
                }

                &_status {
                    background: #6574cd;
                    border-radius: 5px;
                    padding: 0 5px;
                }
            }

            .task-title, .task-description, .task-image, .task-info {
                margin-bottom: 10px;
            }
        }

        &_addTask {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & a {
                display: block;
                color: #ffffff;
                text-decoration: none;

                & i {
                    margin: 10px;
                }

                &:hover {
                    color: #32B9A1;
                    & i {
                        color: #32B9A1;
                    }
                }
            }
        }
    }
}


@media screen and (max-height: 1200px){
    .board-column {
        height: 800px;
        overflow-x: hidden;
    }
}

@media screen and (max-height: 768px){
    .board-column {
        height: 700px;
    }
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color:#2F3133;
    margin: 40px 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 0;
    background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
}

::-webkit-resizer{
    background-repeat:no-repeat;
    width:4px;
    height: 0;
}

::-webkit-scrollbar{
    width: 5px;
}
